<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TED-talks insight</title>
    <link rel="stylesheet" href="static/hf.css" />
        <!-- 底部样式 -->
    <link rel = "stylesheet"type = "text/css"href="static/video_css.css"/>

</head>
<body>
<div style="width: 100%">
    <p>
        <img src="../static/5871594a511c32bd549d2c1f8c6931c.png">
    </p>
    <div style="size: 50px;clear: both">
        <div style="font-size: 30px">
            【TEDtalk_insight】
        </div>
    </div>
    <div style="float: left;width: 100%">
        <p style="text-indent:2em">研究背景：TED由Richard
            Saulman创立于1984年，是一家旨在将技术(technology)，娱乐(entertainment)和设计(design)领域的专家聚集在一起的非盈利组织。Ted的口号是"Ideas worth
            spreading"，也就是“值得传播的思想”。主要研究数据集其中包含了2017年9月21日之前上传到官方网站TED.com的所有TED Talks演讲录制信息。</p>
    </div>
    <div style="size: 50px;clear: both"><b>
        <h3>数据分析展示（点击下方链接跳转）<h3>
    </b></div>
    <div style="font-size: 15px">
        <style>
            a:link {
                font-size: 12px;
                color: #000000;
                text-decoration: none;
            }

            a:visited {
                font-size: 12px;
                color: #000000;
                text-decoration: none;
            }

            a:hover {
                font-size: 12px;
                color: #999999;
                text-decoration: underline;
            }
        </style>
        <a href="/123">TED演讲视频数据筛选</a>
        <div></div>       
        <a href="/line">TED演讲视频数据分析</a>
    </div>
        <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">TED热门演讲视频top5</h3>
        </div>
        <div style="white-space: nowrap"
        <ul class="box">
    
            <li><img src="../static/1.png" width="225" height="auto" alt="" style="max-width: 100%;"></li>
                <a href="https://www.ted.com/talks/amy_cuddy_your_body_language_shapes_who_you_are">

            <li><img src="../static/2.png" width="225" height="auto" alt="" style="max-width: 100%;"></li>
                <a href="https://www.ted.com/talks/simon_sinek_how_great_leaders_inspire_action">

            <li><img src="../static/3.png" width="225" height="auto" alt="" style="max-width: 100%;"</li>
                <a href="https://www.ted.com/talks/brene_brown_on_vulnerability">

            <li><img src="../static/4.png" width="225" height="auto" alt="" style="max-width: 100%;"></li>
                <a href="https://www.ted.com/talks/mary_roach_10_things_you_didn_t_know_about_orgasm">

            <li><img src="../static/5.png" width="225" height="auto" alt="" style="max-width: 100%;"></li>
                <a href="https://www.ted.com/talks/julian_treasure_how_to_speak_so_that_people_want_to_listen"></a>
        </ul>
    </div>




</div>







</body>
</html>